<div id="loading"><img src="images/icons/loading_b.gif" /></div>
<div id="connection-lost">Connection lost. Retrying... <img src='images/icons/loading_w.gif' /></div>
<div id="viewport_container">
    <canvas id="viewport" height="4096" width="4096"></canvas>
</div>

<script type="text/javascript" charset="utf-8">
    var backgroundMusicFiles = [
                       'dungeon_music.mp3',
                       'seiomaccorgo.mp3',
                       'go_from_my_window.mp3'
                     ];
    //var musicIdx = Math.floor(Math.random()*backgroundMusicFiles.length);
    var musicIdx = 0;

    //document.body.style = "height: 100%; width: 100%;";
    document.style      = "height: 100%; width: 100%";
    
    function size_element(element) {
      element.css({
          'width': $(window).width() + "px",
          'height': $(window).height() - $('header').outerHeight() + "px"
      });
    }
    
    $(document).ready(function() {
        var diluvia = new DiluviaController("<%=SOCKET_IO_HOSTNAME%>", <%=SOCKET_IO_OPTIONS%>);
        
        var $helpDialog = $('<div></div>')
          .html(
            '<div>to move: arrow keys</div> \
             <div>to chat: enter</div>'
          )
          .dialog({
          autoOpen: false,
          title: 'Diluvia'
        });
        
        size_element($('#viewport_container'));
        size_element($('#main'));
        
        $(window).resize(function() {
          size_element($('#viewport_container'));
          size_element($('#main'));
          diluvia.repaintCanvas();
        });
        
        $("div#welcome").html(
          "<div id='audio-controls'>                                                                               \
            <div id='help'><a href='#'><img src='/images/icons/help.png'/></a></div>                                                                                      \
            <div id='audio-pause'><a href='#'><img src='/images/icons/pause.png'/></a></div>                       \
            <div style='display: none;' id='audio-play'><a href='#'><img src='/images/icons/play.png'/></a></div>  \
          </div>"
        );
        
        $("#audio-pause a").click(function(e){
          e.preventDefault();
          diluvia.getSound().cancelLoops();
          $("#audio-pause").hide();
          $("#audio-play").show();
        });

        $("#audio-play a").click(function(e){
          e.preventDefault();
          diluvia.getSound().loopAudio("bgmusic1");
          $("#audio-play").hide();
          $("#audio-pause").show();
        });
        
        $("#help a").click(function(e){
          e.preventDefault();
          $helpDialog.dialog('open');
          return false;
        });
        
    });
</script>
