[submodule "server/public/js/libs/backbone"]
	path = server/public/js/libs/backbone
	url = https://github.com/documentcloud/backbone.git
[submodule "server/public/js/libs/underscore"]
	path = server/public/js/libs/underscore
	url = https://github.com/documentcloud/underscore.git
