<div id="dungeon_editor">
  <button>Add new zone</button>
  <select>
    <option value="1">Island</option>
    <option value="2">Dungeon 1</option>
    <option value="3">Dungeon 2</option>
  </select>
  <textarea rows="2" cols="20">
  At W3Schools you will find all the Web-building tutorials you need, from basic HTML to advanced XML, SQL, ASP, and PHP. 
  </textarea>
</div>
