<script type="text/javascript" charset="utf-8">
    document.body.style = "height: 100%; width: 100%;";
    document.style      = "height: 100%; width: 100%";
    
    $(document).ready(function() {
        new DiluviaController("<%=SOCKET_IO_HOSTNAME%>", <%=SOCKET_IO_OPTIONS%>);
    });
    
    // $('#viewport').attr('height', ($(window).height() - $('header').outerHeight())).attr('width',$(window).width());

   // css({'width': ($(window).width() + "px"), 'height': ($(window).height() - $('header').outerHeight())});
</script>

<div id="dungeon_editor">
  <div id="tile_drawer closed">
    
    <div id="drawer_button_box">
      <div id="drawer_button"></div>
    </div>
  </div>
  <div id="viewport_container" style="width: 100%; height: 100%; position: absolute; bottom: 0">
      <canvas id="viewport" height="4096" width="4096"></canvas>
  </div>
</div>
