<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
      
      
  });
</script>
<div id="dungeon_editor">
  <div id="tile_drawer closed">
    
    <div id="drawer_button_box">
      <div id="drawer_button"></div>
    </div>
  </div>
  <%- partial('world') %>
</div>
