<div id="content">
  <div class="info">Welcome to Diluvia!</div> 
<%  if (everyauth.user) { %>
<%    if (everyauth.user._islandZoneId) { %>
    <a href="/edit">Edit your island</a>
<%    } else if (false) { %>
    <a href="/create_island">Create your own island</a>
<%    } %>
<%  } %>
  <div id="islands">
    <% for (id in users) { %>
      <a class="island" href="/goto/<%=users[id].getIslandZoneId()%>">
        <div class="info"><%=users[id].getUsername()%>'s Island</div>
        <div class="name">Play Now</div>
      </a>
    <%}%>  
  </div>
</div>
