<header class="world">
  <a href="/"><img src="/images/logo.png" alt="Diluvia" id="logo"></a>
  <div class="header-item" id="user-login">
    <% if (everyauth.loggedIn) { %>
      <span id="header-links"><a id="account" href="#"><%= everyauth.user._username %></a> (<a class="logout" href="/logout">logout</a>) </span> 
    <% } else { %>
      <div class="fb_button" id="fb-login" style="float:left; background-position: left -188px">
        <a href="/auth/facebook" class="fb_button_medium">
          <span id="fb_login_text" class="fb_button_text">
            Connect with Facebook
          </span>
        </a>
      </div>
    <% } %>
  </div>
</header>

<div id="main">
    <div id="content">
      <div class="info">Welcome to Diluvia!</div> 
    <%  if (everyauth.user) { %>
    <%    if (everyauth.user._islandZoneId) { %>
        <a href="/edit">Edit your island</a>
    <%    } else { %>
        <a href="/create_island">Create your own island</a>
    <%    } %>
    <%  } %>
      <div id="islands">
        <% for (id in users) { %>
          <a class="island" href="/goto/<%=users[id].getIslandZoneId()%>">
            <div class="info"><%=users[id].getUsername()%>'s Island</div>
            <div class="name">Play Now</div>
          </a>
        <%}%>  
      </div>
    </div>
</div>