<div id="content">
  <div class="info">Welcome to Diluvia!</div> 
  <% if (my_island !== undefined) { %>
    <a href="/edit">Edit your island</a>
  <% } else { %>
    <a href="/create_island">Create your own island</a>
  <% } %>
  <div id="islands">
    <% for (id in islands) { %>
      <a class="island" href="/goto/<%=islands[id].getIslandZoneId()%>">
        <div class="info"><%=islands[id].getUsername()%>'s Island</div>
        <div class="name">Play Now</div>
      </a>
    <%}%>  
  </div>
</div>
