<div id="content">
  <div id="islands">
    <a class="island" href="/play">
      <div class="name">Caitlin's Island</div>
      <div class="info">by caitlin - 1 dungeon</div> 
    </a>
    <a class="island" href="/play">
      <div class="name">Grubland</div>
      <div class="info">by scott - 2 dungeons</div> 
    </a>
    <a class="island" href="/play">
      <div class="name">Island of the Extreme</div>
      <div class="info">by extremo - 15 dungeons</div> 
    </a>
    <a class="island" href="/play">
      <div class="name">Scary World</div>
      <div class="info">by doot_doot - 3 dungeons</div> 
    </a>
    <a class="island" href="/play">
      <div class="name">Starter Land</div>
      <div class="info">by newbie - 1 dungeon</div> 
    </a>
  </div>
</div>
