<div style="float:right;margin-right:5px">
  <% if (username) { %>
    <a href="/account/<%= username %>"><%= username %></a>
  <% } else { %>
  <a href="/auth/twitter" style="border:0px">
    <img style="border:0px" src="http://apiwiki.twitter.com/f/1242697715/Sign-in-with-Twitter-darker.png"/>
  </a>
  <% } %>
</div>
<% if(flash && flash.error) { %>
<div style="float: right;">
    <%= flash.error %>
</div>
<% } %>

<div id="content">
  <div id="islands">
    <a class="island" href="/play">
      <div class="name">Caitlin's Island</div>
      <div class="info">by caitlin - 1 dungeon</div> 
    </a>
    <a class="island" href="/play">
      <div class="name">Grubland</div>
      <div class="info">by scott - 2 dungeons</div> 
    </a>
    <a class="island" href="/play">
      <div class="name">Island of the Extreme</div>
      <div class="info">by extremo - 15 dungeons</div> 
    </a>
    <a class="island" href="islands/doot_doot">
      <div class="name">Scary World</div>
      <div class="info">by doot_doot - 3 dungeons</div> 
    </a>
    <a class="island" href="islands/newbie">
      <div class="name">Starter Land</div>
      <div class="info">by newbie - 1 dungeon</div> 
    </a>
  </div>
</div>
