<!DOCTYPE html>
<html>
  <head>
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" charset="utf-8">
    <title>Diluvia</title>
    <script src="/socket.io/socket.io.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/libs/jquery/jquery-1.4.4.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/canvasWriter.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/libs/underscore/underscore-min.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <header>
      <a href="/"><img src="img/logo.png" alt="Diluvia" id="logo"></a>
      <div id="welcome">Welcome to Diluvia</div>
    </header>
    <%- body %>
  </body>
</html>
