<!DOCTYPE html>
<html>
  <head>
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8">
    <title>Diluvia</title>
    <script src="/socket.io/socket.io.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/smoothness/jquery-ui.css" type="text/css" media="screen" charset="utf-8">
    <script src="http://static.ak.fbcdn.net/connect/en_US/core.js"></script>
    <script src="/js/libs/soundmanager2-nodebug-jsmin.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/application.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/protocol.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/canvas.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/keyboard.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/pointer.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/sound.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/chat.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/diluvia.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <% if(flash && flash.error) { %>
    <div class="flash">
        <%= flash.error %>
    </div>
    <% } %>
    <header>
      <a href="/"><img src="/images/logo.png" alt="Diluvia" id="logo"></a>
      <div class="header-item" id="user-login">
        <% if (username) { %>
          <span id="header-links"><a id="account" href="#"><%= username %></a> (<a class="logout" href="/logout">logout</a>) </span> 
        <% } else { %>
          <div class="fb_button" id="fb-login" style="float:left; background-position: left -188px">
            <a href="/auth/facebook" class="fb_button_medium">
              <span id="fb_login_text" class="fb_button_text">
                Connect with Facebook
              </span>
            </a>
          </div>
        <% } %>
      </div>
      <div class="header-item" id="welcome">Welcome to Diluvia</div>
    </header>
    <div id="main">
      <%- body %>
    </div>
  </body>
</html>
