<!DOCTYPE html>
<html>
  <head>
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8">
    <title>Diluvia</title>
    <script src="/socket.io/socket.io.js" type="text/javascript" charset="utf-8"></script>
    <!-- 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script> 
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/smoothness/jquery-ui.css" type="text/css" media="screen" charset="utf-8">
    -->
    <script src="/js/jquery.162.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jquery-ui.1814.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="js/jquery-ui.1814.css" type="text/css" media="screen" charset="utf-8">
    
    <script src="/js/libs/soundmanager2-nodebug-jsmin.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/libs/jquery/jquery.form.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/libs/jquery/jquery.hotkeys.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/libs/jquery/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/application.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/protocol.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/canvas.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/keyboard.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/pointer.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/sound.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/chat.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/diluvia.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
      var SOCKET_URI = "<%=SOCKET_URI%>";
    </script>
    <script type="text/javascript">
      var rpxJsHost = (("https:" == document.location.protocol) ? "https://" : "http://static.");
      document.write(unescape("%3Cscript src='" + rpxJsHost +
    "rpxnow.com/js/lib/rpx.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      RPXNOW.overlay = true;
      RPXNOW.language_preference = 'en';
    </script>
  </head>
  <body>
    <% if(flash && flash.error) { %>
    <div class="flash">
        <%= flash.error %>
    </div>
    <% } %>
    <div id="dialog"></div>
    <%- body %>
  </body>
</html>
