<script type="text/javascript" charset="utf-8">
    document.body.style = "height: 100%; width: 100%;";
    document.style      = "height: 100%; width: 100%";
    
    $(document).ready(function() {
        new DiluviaController("<%=SOCKET_IO_HOSTNAME%>", <%=SOCKET_IO_OPTIONS%>);
        
        $('#viewport_container').css({
            'width': $(window).width() + "px",
            'height': $(window).height() - $('header').outerHeight() + "px"
        });
    });
    

</script>

<div id="viewport_container">
    <canvas id="viewport" height="4096" width="4096"></canvas>
</div>