<script type="text/javascript" charset="utf-8">
    DILUVIA_SESSION = "<%= sessionId %>";
    PLAY_MUSIC      = <%=play_music%>;
</script>

<header class="world">
  <a href="/"><img src="/images/logo.png" alt="Diluvia" id="logo"></a>
  <div class="header-item" id="user-login">
    <% if (user) { %>
      <span id="header-links"><a id="account" href="#"><%= user.getUsername() %></a> (<a class="logout" href="/logout">logout</a>) </span> 
    <% } else { %>
      <% if (false) { %>
      <div style="float: left; margin-right: 10px; line-height: 15px;">
        <a href='/auth/google' style='padding: 5px; border: solid 1px #DDDDDD; background: #444444; font-size: 12px;'>
          Login via Google 
          <img style='border: 0px' src='https://www.google.com/favicon.ico'/>
        </a>
      </div>
      <% } %>
      <div class="fb_button" id="fb-login" style="float:left; background-position: left -188px">
        <a href="/auth/facebook" class="fb_button_medium">
          <span id="fb_login_text" class="fb_button_text">
            Connect with Facebook
          </span>
        </a>
      </div>
    <% } %>
    <% if (account && account.getIslandZoneId() !== undefined) { %>
      <div><a href='/edit'>Edit Mode</a></div>
    <% } %>
  </div>
  <div class="header-item" id="play-btns">
      <div id='help'><a href='#'><img src='/images/icons/help.png'/></a></div>
      <div id='audio-pause'><a href='#'><img src='/images/icons/pause.png'/></a></div>
      <div id='audio-play'><a href='#'><img src='/images/icons/play.png'/></a></div>
  </div>
</header>

<div id="main">
    <div id="loading"><img src="/images/icons/loading_b.gif" /></div>
    <div id="connection-lost">Connection lost. Retrying... <img src='/images/icons/loading_w.gif' /></div>
    <div id="viewport_container">
        <canvas id="viewport" height="4096" width="4096"></canvas>
        <div id="info_area"></div>
    </div>
</div>

<div id="info-bar">Score: <div id="score_number">0</div></div>
<div id="scoreboard">
    <table cellspacing="0" cellpadding="0" border="0">
        <thead><th>User</th><th>Score</th>
        <tbody></tbody>
    </table>
</div>
<input id="chat_box" />

<script type="text/javascript" charset="utf-8">
    document.style      = "height: 100%; width: 100%";

    function size_element(element) {
      element.css({
          'width': $(window).width() + "px",
          'height': $(window).height() - $('header').outerHeight() + "px"
      });
    }

    $(document).ready(function() {
        var diluvia = new DiluviaController({
          mode:          "game",
          on_connect:    function(){this.startPlaying();}
        });
    
        var $helpDialog = $('<div></div>')
          .html(
            '<div>rules of the game:<br/><br/> \
               <p> \
                hidden somewhere on the map is a skull that grants the assassin ability. \
                once you find it, pick it up and move it to a safe hiding place. \
                but be quick! you only have 30 seconds to hide the skull or its evil nature will strike you down. \
                once you\'ve hidden the skull, you can poison other players by approaching them and pressing \"a\". \
                you get 5 points for each successful assassination -- until someone else finds the source of your power! \
                it is rumored that there exist powerful artifacts that can even strike down the assassin, but surely that is only a myth. \
               </p> \
             </div> \
             <div>move: arrow keys</div> \
             <div>drop item: e</div> \
             <div>poison other player: a</div> \
             <div>show score: tab</div> \
             <div>to chat: enter</div>'
          )
          .dialog({
          autoOpen: false,
          width: 500,
          title: 'Diluvia'
        });
    
        size_element($('#viewport_container'));
        size_element($('#main'));
    
        $(window).resize(function() {
          size_element($('#viewport_container'));
          size_element($('#main'));
          diluvia.repaintCanvas();
        });
    
        $("#audio-pause a").click(function(e){
          e.preventDefault();
          diluvia.stopMusic();
          $("#audio-pause").hide();
          $("#audio-play").show();
        });

        $("#audio-play a").click(function(e){
          e.preventDefault();
          diluvia.startMusic();
          $("#audio-play").hide();
          $("#audio-pause").show();
        });
    
        $("#help a").click(function(e){
          e.preventDefault();
          $helpDialog.dialog('open');
          return false;
        });
    
        <% if (play_music) {%>
          $("#audio-play").hide();
        <% } else { %>
          $("#audio-pause").hide();
        <% } %>
    });
</script>