/* resets */
body {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin: 0 0 12px 0;
	font-weight: normal;
}
li {
	margin-bottom: 6px;
}
a img {
	border: 0;
}

a {
    color: #AAAAAA;
    text-decoration: none;
    outline: none;
    border-bottom: 1px dotted #AA0000
}

a:hover {
    color: #FFFFFF;
}

/* main styles */
body {
	font: 15px "Lucida Grande", Verdana, sans-serif;
	background: #000;
}
header {
	background: #202020;
	border-bottom: 1px solid #303030;
	height: 60px;
}
.flash {
    position: absolute;
    left: 400px;
    background-color: #FFF;
    color: #FF3333;
    left: 300px;
    padding: 5px;
    border: 2px solid #FF3333;
}
#logo {
	font-size: 27px;
	line-height: 60px;
	color: #eee;
	position: absolute;
	top: 0;
	left: 30px;
}
.header-item {
	position: absolute;
	top: 0;
}

#content {
	padding: 30px 30px 48px;
	color: #d0d0d0;
}
#content h2 {
	color: #fff;
	font-size: 18px;
}

/* list of islands */
#islands {
	width: 240px;
}
#islands a.island {
	text-decoration: none;
	border-bottom: none;
	color: #e0e0e0;
	display: block;
	margin: 10px;
	padding: 5px;
}
#islands a.island:hover {
	background: #363636;
	outline: 1px solid #464646;
	
}
#islands a.island .name {
	font-weight: bold;
}
#islands a.island .info {
	color: #6f6f6f;
	font-size: 13px;
}

#main {
	position: relative;
}

#viewport_container {
    overflow: hidden !important;
	position: absolute;
}

#chat_box {
    font-family:    Helvetica;
    font-size:      12px;
    position:       absolute;
    width:          100%;
    z-Index:        100;
    bottom:         0px;
    left:           0px;
    height:         25px;
    border:         none;
    background:     none;
    color:          white;
    display: none;
}

#chat_messages {
    font-family:    Helvetica;
    font-size:      12px;
    position:       absolute;
    width:          100%;
    z-Index:        99;
    bottom:         25px;
    left:           0px;
    height:         70px;
    overflow:       auto;
    background:     none;
    padding-left:   5px;
}

.chat_message {
    color:      white;
}

#connection-lost {
  display: none;
}

#chooser {
  display: none;
}

#layer_chooser a.selected {
  border: 2px solid #FF0000;
}

#layer_chooser a {
  background-color: #AAAAAA;
  border: 2px solid #DDDDDD;
  border-radius: 5px;
  padding: 3px;
  text-decoration: none;
}

#layer_chooser a:hover {
  border: none;
  padding: 5px;
  background-color: #BBBBBB;
}

.tile_image, .tile_image_preview {
  float: left;
  border: 3px solid black; 
  margin: 5px;
  width:  64px;
  height: 64px;
}

.tile_image:hover, .tile_image_preview:hover {
  cursor: pointer;
  border: 3px solid red;
}

.tile_image img, .tile_image_preview img {
  position: relative;
}

#info_area {
    position:   absolute;
    z-Index:    90;
    top:        0px;
    right:      0px;
    padding:    3px;
    font-size:  9px;
    color:      white;
}

#user-login {
    padding-top: 10px;
    color: #DDDDDD;
}

header.world #user-login {
  right: 140px;
}

header.editor #user-login {
  right: 40px;
}

a.logout {
    font-size: 11px;
    color: #DD3333;
}

#info-bar {
    position:   absolute;
    top:        10px;
    left:       250px;
    z-Index:    95;
    color:      white;
}

#menu-info {
  font-size:  18px;
  z-Index:    95;
  color:      white;
}

#scoreboard {
    position:   absolute;
    z-Index:    95;
    top:        100px;
    left:       100px;
    background: black;
    padding:    10px;
    border:     2px solid white;
    color:      white;
    display: none;
}

#scoreboard table td, #scoreboard table th { 
    padding:    3px;
}

header.editor {
  height: 80px;
}

#editor_dashboard {
  margin-left: 160px;
  font: 12px "Lucida Grande", Verdana, sans-serif;
  color: #FFFFFF;
}

#editor_dashboard .inline-menu {
  float: left;
  margin: 0 10px;
}

#editor_dashboard .inline-menu span {
  margin: 0 8px;
}

#edit_menu a {
  border: none;
}

#editor_dashboard img.selected {
  border: 2px solid #FF0000;
}

#editor_dashboard img {
  background-color: #111111;
  border: 2px solid #222222;
  border-radius: 5px;
  padding: 3px;
}

#editor_dashboard img:hover {
  border: none;
  padding: 5px;
  background-color: #555555;
}

#portal_form_tiles {
  display: none;
}

#play-btns {
  padding-top: 10px;  
	line-height: 60px;
	right: 30px;
	color: #999;
	font-style: italic;
}

#play-btns div{
    float: right;
    padding: 0 5px;
}

#play-btns a{
  border: none;
}

#save-button {
  margin: 15px 5px;
}

button {
  font-weight: bold;
  background: #e4e5e9 url(/images/button-bg.png) repeat-x left top;
  border: 1px solid #bec3cd;
  border-bottom-color: #88909f;
  padding: 0.15em 0.55em;
  color: #394148;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

button:focus, button:hover, button:active {
  color: #27292b;
  border-color: #a0a6b3 #a0a6b3 #5d6574;
  background-image: url(/images/button-bg-hover.png);
  cursor: pointer;
}

button:active {
  background-color: #fff;
  background-image: url(/images/button-bg-down.png);
}

button.disabled, button.disabled:focus, button.disabled:hover, button.disabled:active {
  border-color: #bec3cd;
  color: #394148;
  background-color: #e4e5e9;
  background-image: url(/images/button-bg.png);
  cursor: default;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
  filter: alpha(opacity=50); /* IE 6/7 */
}
