/* resets */
body {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin: 0 0 12px 0;
	font-weight: normal;
}
li {
	margin-bottom: 6px;
}
a img {
	border: 0;
}
a {
	outline: none;
}

/* main styles */
body {
	font: 15px "Lucida Grande", Verdana, sans-serif;
	background: #000;
}
header {
	background: #202020;
	border-bottom: 1px solid #303030;
	height: 60px;
}
#logo {
	font-size: 27px;
	line-height: 60px;
	color: #eee;
	position: absolute;
	top: 0;
	left: 30px;
}
#welcome {
	position: absolute;
	top: 0;
	right: 30px;
	line-height: 60px;
	color: #999;
	font-style: italic;
}
#content {
	padding: 30px 30px 48px;
	color: #d0d0d0;
}
#content h2 {
	color: #fff;
	font-size: 18px;
}

/* list of islands */
#islands {
	width: 240px;
}
#islands .island {
	text-decoration: none;
	color: #e0e0e0;
	display: block;
	padding: 10px;
}
#islands .island:hover {
	background: #363636;
	outline: 1px solid #464646;
	
}
#islands .island .name {
	font-weight: bold;
}
#islands .island .info {
	color: #6f6f6f;
	font-size: 13px;
}

/* editor */
#main {
	position: relative;
}
#dungeon_editor {
}
#tile_drawer {
	width: 200px;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: url(../img/greybg.png);
	z-index: 10;
}
#tile_drawer.closed {
	background: none;
	width: 13px;
}
#drawer_button_box {
	width: 11px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}
#tile_drawer.closed #drawer_button_box {
	padding: 0 2px 0 0;
}
#tile_drawer.open #drawer_button_box {
	background: #000;
	padding-left: 0 0 0 2px;
}
#tile_drawer.open #drawer_button {
	background: url(../img/drawer-close_arrow.png) no-repeat;
}
#drawer_button {
	width: 11px;
	height: 24px;
	position: absolute;
	top: 50%;
	margin-top: -12px;
	background: url(../img/drawer-open_arrow.png) no-repeat;
	display: block;
}
#drawer_button:hover {
	background-position: 0 -24px !important;
}


canvas {
    
}

#viewport_container {
    overflow: hidden !important;
	position: absolute;
}

#chat_box {
    position: absolute;
    width:    100%;
    z-Index:  100;
    bottom:   0px;
    left:     0px;
    height:   25px;
}

#chat_messages {
    position:   absolute;
    width:      100%;
    z-Index:    90;
    bottom:     0px;
    left:       0px;
}

.chat_message {
    color:      white;
}
