<form action="/editor/zone" method="post">
  <div class="inline-menu">
    <div>
      <label for="zone[name]">Name:</label><input type="text" name="zone[name]" value="<%=editingZone.getName()%>" />,
      <label for="zone[width]">W</label><input type="text" name="zone[width]" size="4" value="<%=editingZone.getDimensions()[0]%>"/> x <label for="zone[height]">H</label><input type="text" name="zone[height]" size="4" value="<%=editingZone.getDimensions()[1]%>"/>
      <input type="submit" value="save"/>
    </div>
  </div>
</form>
