SOCKET_IO_HOSTNAME   = "localhost"
SOCKET_IO_OPTIONS    = "{port: 3000}"

FACEBOOK_ID                    = "5d826d30fff838b144f9b0db3258e26f";
FACEBOOK_SECRET                = "c233cac406b0f714c3d525dd73c596b8";
FACEBOOK_CALLBACK              = "http://diluvia.kom/auth/facebook"

TWITTER_CONSUMER_KEY           = "Ez08XN88a3cbsvczeMjF1w";
TWITTER_CONSUMER_SECRET        = "v0PQvvxYttMCfmWtICdk3drzHr3FeCrXhKBvVoivF6I";
